# Node dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# Logs
logs
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Local env files
.env
.env.*
!.env.example

# Caches
.eslintcache
.cache
*.tsbuildinfo

# Misc
.DS_Store
.fleet
.idea

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist


